@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Ubuntu;
}
/* ************************************* */
/* *               Génériques          * */
/* ************************************* */
::-webkit-scrollbar {
	width: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	min-height: 100vh;
	background-color: black;
	overflow-y: scroll;
}

main {
	padding: 50px 30px;
	min-height: 80vh;
}
p {
	color: rgb(218, 218, 218);
	font-size: 18px;
}
p::first-letter{
	color: rgb(140, 22, 3);
	font-size: 3em;
	font-weight: bold;
	font-family: cursive;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
	color: rgb(218, 218, 218);
	display: inline-block;
	text-decoration: none;
}
h1 {
	text-align: center;
}
.copyright {
	font-size: 0.6em;
	color: rgb(218, 218, 218);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.scroll-down {
	position: relative;
	top: 0;
}
.highlight {
	color: #e5e5c4;
	font-weight: bold;
}
.scroll-down {
	position: sticky;
	bottom: 0;
}
.chevron-down {
	display: block;
	text-align: center;
	transform: rotate(-90deg);
	font-size: 2em;
	color: #8c1627;
	animation: updown 2s infinite;
}
.btn-up{
	width: 30px;
	height: 30px;
	background-color: #8c1627;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transform: rotate(180deg);
	transition: .8s all ease;
}
.btn-up:hover{
	background-color: #e5e5c4;
	color: #8c1627;
}
.borderline{
	position:relative;
	background-color: black;
	margin-left: 2px;
	padding: 4px;
	line-height: 1em;
}
.borderline::before{
	z-index: -1;
	content: '';
	display: block;
	position: absolute;
	bottom: -2px;
	left: -2px;
	width: 0px;
	height: 2px;
	background-color: #8c1627;
	transition: .6s all ease;
}
.borderline:hover::before{
	content: '';
	display: block;
	width: 105%;
	height: 115%;
	background-color: #8c1627;
}
@keyframes updown {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, 0);
	}
}
/* ************************************* */
/* *            Bouton Burger          * */
/* ************************************* */
#btn-burger {
	z-index: 3;
	display: block;
	position: fixed;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	padding: 1px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#btn-burger span {
	z-index: 3;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: rgb(218, 218, 218);
	transition: 0.3s all;
}
#btn-burger.active span:nth-child(2) {
	display: none;
}
#btn-burger.active span:first-child {
	z-index: 3;
	background-color: red;
	transform: translate(0px, 9px) rotate(40deg) scale(1.5);
}
#btn-burger.active span:last-child {
	z-index: 3;
	background-color: red;
	transform: translate(0px, -9px) rotate(-40deg) scale(1.5);
}
/* ************************************* */
/* *                Aside              * */
/* ************************************* */
#aside-container {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(8px);
	transform: translateX(-500px);
	transition: 0.4s all;
}
#aside-container.active {
	transform: translateX(0px);
	transition: 0.4s all;
}
#aside-container #aside-menu {
	width: 100%;
	height: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
}
#aside-container #aside-menu .aside-item {
	list-style-type: none;
	width: 100%;
	text-align: right;
}
#aside-container #aside-menu .aside-item a {
	color: rgb(218, 218, 218);
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 4px;
	letter-spacing: 8px;
	transition: .3s all ease;
}
#aside-container #aside-menu .aside-item a::before {
	content: '';
	display: block;
	position: absolute;
	bottom: -3px;
	width: 15px;
	height: 1px;
	background-color: #8c1627;
	transition: .4s all ease;
}
#aside-container #aside-menu .aside-item a:hover::before {
	content: '';
	display: block;
	position: absolute;
	bottom: -3px;
	width: 97%;
	height: 2px;
	background-color: #8c1627;
}
#aside-container #aside-menu .aside-item a:hover{
	color: #8c1627;
	filter: brightness(1.5);
}
/* ************************************* */
/* *            	   Index             * */
/* ************************************* */
#home-logo {
	width: 100%;
	background-image: url("../img/logo/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.3s all ease;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
/* ************************************* */
/* *            	    AP               * */
/* ************************************* */
#ecole-container{
	padding: 4em;
	width: 100%;
}
#projets-wrapper {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#ecole-container .projet {
	margin-top: 50px;
	width: 100%;
	height: 200px;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 5px;
	box-shadow: 3px 3px 12px -5px rgba(217, 217, 217, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/* ************************************* */
/* *            	   BTS               * */
/* ************************************* */
#bts-container {
	display: flex;
	flex-direction: column;
}
#bts-container section {
	width: 100%;
	height: 90vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
#bts-container section h2 {
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 3em;
	position: relative;
}
#bts-container section h2::before {
	content: "";
	background-color: #8c1627;
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 3px;
	display: block;
}
.ul-menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 0;
}
.ul-menu li{
list-style-type: none;
}
#bts-container #bts-sisr,
#bts-container #bts-slam {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}
.ul-menu li a,
#bts-sisr ul li,
#bts-slam ul li{
	color: #e5e5c4;
	list-style-type: none;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
}
#bts-slam ul li a{
	color: #e5e5c4;
	transition: .5s all ease;
}
#bts-slam ul li a:hover{
	color: #8c1627;

}
#bts-description p,
#bts-cybersecurite p {
	text-align: justify;
	line-height: 2em;
}
/* ************************************* */
/* *            	  Profil             * */
/* ************************************* */
#profil-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#profil-container #profil-photo {
	width: 100%;
	height: 80vh;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#profil-container #profil-photo img {
	width: 100%;
	margin: auto;
}
#profil-container #profil-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#profil-container #profil-info ul li {
	line-height: 2em;
	color: #e5e5c4;
	font-size: 1em;
	list-style-type: none;
	text-align: center;
}
#btn-cv {
	width: 100%;
	display: block;
	margin: auto;
	padding: 2em;
	text-align: center;
	font-size: 1.7em;
}
#profil-container #profil-card #profil-cv a{
	position: relative;
	color: #e5e5c4;
	text-decoration: none;
	padding: 20px 10px;
	overflow: hidden;
	border-radius: 5px;
	transition: .3s all ease;
	
}
#profil-container #profil-card #profil-cv a::before{
	content: '';
	z-index: -1;
	background-color: #8c1627;
	transform: rotate(45deg);
	border-radius: 20px;
	width: 0%;
	height: 0%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	transition: .3s all ease;
	display: block;
}
#profil-container #profil-card #profil-cv a:hover::before{
	content: '';
	width: 100%;
	height: 100%;
}
/* ************************************* */
/* *            	  Footer	           * */
/* ************************************* */
.copyright {
	z-index: 3;
	position: fixed;
	bottom: 0;
	left: 0;
	transform-origin: 0 0;
	transform: rotate(-90deg) scale(0.8);
	transition: 0.3s all ease;
}
.copyright.active {
	z-index: 3;
	transform: rotate(0deg) scale(0.8);
}

/* TODO ZONE MEDIA QUERIES */
@media screen and (min-width: 480px) {
	#aside-container {
		z-index: 2;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 300px;
		background-color: rgba(0, 0, 0, 0);
		backdrop-filter: blur(8px);
		transition: 0.4s all;
	}
	#profil-container{
		width: 100%;
		height: 100vh;
		padding: 4em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.content-profil{
		width: 70%;
	}
	#profil-card{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	#profil-container #profil-photo {
		width: 30%;
		display: flex;
		align-items: center;
	}
	#profil-container #profil-photo img{
		width: 100%;
	}
	#profil-container .btn-up{
		display: none;
	}
	#bts-container section{
		width: 60%;
	}
	.scroll-down{
		display: none;
	}
	#bts-container{
		align-items: center;
		gap: 50px;
	}
}
@media screen and (min-width: 768px) {
	#bts-container{
		align-items: center;
		gap: 100px;
	}
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}

