*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/* ************************************* */
/* *               Génériques          * */
/* ************************************* */
body {
	width: 100%;
	background-color: black;
}
main{
	padding: 15px;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span{
	color: white;
	display: inline-block;
}

.first-letter::first-letter{
	color: red;
}
.copyright {
	font-size: 0.6em;
	color: white;
	font-family: cursive;
	text-transform: uppercase;
	letter-spacing: 2px;
}
/* ************************************* */
/* *            Bouton Burger          * */
/* ************************************* */
#btn-burger {
	z-index: 3;
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	padding: 1px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#btn-burger span {
	z-index: 3;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: white;
	transition: 0.3s all;
}
#btn-burger.active span:nth-child(2) {
	display: none;
}
#btn-burger.active span:first-child {
	z-index: 3;
	background-color: red;
	transform: translate(0px, 9px) rotate(40deg) scale(1.5)
}
#btn-burger.active span:last-child {
	z-index: 3;
	background-color: red;
	transform: translate(0px, -9px) rotate(-40deg) scale(1.5)
}
/* ************************************* */
/* *                Aside              * */
/* ************************************* */
#aside-container {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	height: 95vh;
	width: 100%;
	background-color: black;
	transform: translateX(-500px);
	transition: 0.4s all;
}
#aside-container.active {
	transform: translateX(0px);
	transition: 0.4s all;
}
#aside-container #aside-menu {
	height: 100%;
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
}
#aside-container #aside-menu .aside-item {
	list-style-type: none;
	width: 100%;
	text-align: right;
}
#aside-container #aside-menu .aside-item a {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 8px;
}
#aside-container #aside-menu .aside-item::before {
	content: "";
	position: relative;
	top: 0;
	left: 0;
	width: 0%;
	height: 0.4em;
	background-color: bisque;
	transition: 0.5s all ease;
}
#aside-container #aside-menu .aside-item::before:hover {
	height: 100%;
	z-index: -1;
}
/* ************************************* */
/* *               Content             * */
/* ************************************* */
#main-container{
	width: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#home-logo{
	width: 100%;
	width: 100%;
	height: 95vh;
	background-image: url('../img/logo/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: .3s all ease;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
#home-logo .copyright{
	z-index: 3;
	transform:rotate(-90deg) translateX(130px) translateY(-115px) scale(.8);
	transition: .7s all ease;
}
#home-logo .copyright.active{
	z-index: 3;
	transform:rotate(0deg) translateX(0px) translateY(-50px) scale(1);
}


/* TODO ZONE MEDIA QUERIES */
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
